.exam-finished-container {
  text-align: center;
<<<<<<< HEAD:exam/src/components/ExamFinished/style.scss
  height: 70vh;
=======
  height: 100%;
>>>>>>> a797436:exam/src/pages/ExamFinished/style.scss
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;

  .exam-finished {
    border: 2px solid gray;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  p {
    font-size: 20px;
    color: #666;
  }
}
